{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Consulta de pedidos para {{proveedor}}
{% endblock titulo %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-6">
                <a href="{% url 'index' %}" class="btn btn-secondary"><span class="bi-chevron-left"></span> Volver</a>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-secondary">?</button>
            </div>
            <div class="col-12 mt-4 mb-4">
                <h2>Pedidos para {{proveedor}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
            {% if not lista %}
                <span class="lead">Hasta el momento hay pedidos enviados.</span>
            {% else %}
                <table class="table align-middle table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Orden de Pedido</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orden in lista %}
                        <tr>
                            <td>{{orden.id_orden_pedido}}</td>
                            <td>{{orden.suma_precio}}</td>
                            <td><button class="btn btn-primary">Ver detalle</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </article>
{% endblock contenido %}