{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Consulta de pedidos para {{proveedor}}
{% endblock titulo %}

{% block contenido %}
    <article>
        {% if not lista %}
        <div class="row encabezado">
            <div class="col-12 text-center">
                <h1 class="display-6">Actualmente, no hay pedidos para {{proveedor}}</h1>
            </div>
            <div class="col-12 text-center">
                <div class="m-4">
                    <a href="{% url 'index' %}" class="link-primary">Volver</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row encabezado">
            <div class="col-12 col-sm-8">
                <h1>Listado de pedidos para {{proveedor}}</h1>
            </div>
            <div class="col-12 col-sm-4 text-end">
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary">?</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table align-middle table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Orden de Pedido</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orden in lista %}
                        <tr>
                            <td>{{orden.id_orden_pedido}}</td>
                            <td>{{orden.suma_precio}}</td>
                            <td><button class="btn btn-primary">Ver detalle</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </article>
{% endblock contenido %}