<!-- barra de navegación para el usuario Empleado -->

<nav class="col-12">
<ul id="menu-navegacion" class="nav nav-tabs">
    <li class="nav-item">
    <a
        href="#"
        class="nav-link {% block nav_inicio %}{% endblock nav_inicio %}"
        >Inicio</a
    >
    </li>
    <li class="nav-item">
    <a
        href="#"
        class="nav-link {% block nav_recepcion_huespedes %}{% endblock nav_recepcion_huespedes %}"
        >Recepción de huéspedes</a
    >
    </li>
    <li class="nav-item">
    <a
        href="#"
        class="nav-link {% block nav_admin_ordenes_pedido %}{% endblock nav_admin_ordenes_pedido %}"
        >Órdenes de pedido</a
    >
    </li>
    <li class="nav-item">
    <a
        href="#"
        class="nav-link {% block nav_admin_servicios_comedor %}{% endblock nav_admin_servicios_comedor %}"
        >Servicios de comedor</a
    >
    </li>
</ul>
</nav>
