{% extends 'base.html' %}

{% load static %}

{% block titulo %}Ingresar ordenes de pedido{% endblock titulo %}

{% block pag_actual %}recepcion-productos{% endblock pag_actual %}

{% block contenido %}

<style>
    #id_suma_precio {
        /*pointer-events: none;
        background-color: lightgray;*/
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'generar_ordenPedido' %}">Ingresar orden de pedido</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_ordenes' %}">Listar órdenes de pedido</a>
            </li>
        </ul>

    </div>
</nav>

<article>
    <form method="post" class="row d-flex">
        {% csrf_token %}

        <div class="flex-fill">
            {{ form_op.non_field_errors }}
            {% for form in form_op %}
            <div class="form-group d-grid mb-4">
                {{ form.label_tag }}
                {{ form }}
                {% if form.errors %}
                {{ form.errors }}
                {{ form.help_text }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="flex-fill" id="form-detalles">
            <h3>Detalles de ordenes de pedido</h3>
            {{ form_detalle.management_form }}
            {{ form_detalle.non_field_errors }}
            <div class="table">
                {% for detalle in form_detalle %}
                <table class="no_error d-grid mb-4">
                    {{ detalle }}
                </table>
                {% endfor %}
            </div>
        </div>
        <button id="add_more" type="button" class="btn btn-outline-primary mt-2 w-25">Añadir otro producto</button>
        <div class="btn-group">

            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</article>

<script>
    $('#add_more').click(function () {
        cloneMore('div.table:last', 'service');
    });


   
    document.getElementById("id_form-0-cantidad").oninput = function () {
        document.getElementById("id_form-0-precio_total").disabled = true;
        try {
            var a = parseFloat(document.getElementById("id_form-0-cantidad").value) || 0,
                b = parseFloat(document.getElementById("id_form-0-precio_individual").value) || 0;

            document.getElementById("id_form-0-precio_total").value = a * b;
            document.getElementById("id_suma_precio").value = a * b;
        } catch (e) { }

    };
    document.getElementById("id_form-0-precio_individual").oninput = function () {
        document.getElementById("id_form-0-precio_total").disabled = true;
        try {
            var a = parseFloat(document.getElementById("id_form-0-cantidad").value) || 0,
                b = parseFloat(document.getElementById("id_form-0-precio_individual").value) || 0;

            document.getElementById("id_form-0-precio_total").value = a * b;
            document.getElementById("id_suma_precio").value = a * b;
        } catch (e) { }

    };

</script>

<script src="{% static 'js/form_dinamico_detalle.js' %}"></script>

{% endblock contenido %}