/* Variables  */
/* https://www.w3schools.com/css/css3_variables.asp */
:root {
    --primario: #3D348B;
    --secundario: #FFB612;
    --gris: #E1E2E3;
    --negro: #282828;
}


body {
    color: var(--negro);
}

header {
    background-color: var(--primario);
    height: 48px;
    margin-bottom: 24px;
}

#logo-placeholder {
    color: white;
    font-size: 18px;
    padding-top: 8px;
}

#logo-placeholder b {
    color: var(--secundario);
}

#menu-usuario a,
#menu-usuario a:visited {
    color: white;
}

#menu-usuario a:active,
#menu-usuario a:hover {
    color: var(--secundario);
}

.encabezado {
    margin: 24px 0 48px;
}

.encabezado h1 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 32px 0 24px;
}