{% extends 'base.html' %}

{% load static %}

{% block titulo %}Detalle factura{% endblock titulo %}

{% block pag_actual %}facturas{% endblock pag_actual %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-12 mb-4">
                <h2>Detalle de factura</h2>
            </div>
            <div class="col-2 col-md-6 mb-4">
                <a href="{% url 'listar_facturas' %}" class="btn btn-primary">
                    <span class="bi-chevron-left"></span>
                    <span class="d-none d-md-inline"> Volver</span>
                </a>
            </div>
            <div class="col-10 col-md-6 mb-4 text-end">
                <!-- <button class="btn btn-primary">Imprimir</button> -->
                <button onclick="toggleManualUsuario()" class="btn btn-primary">?</button>
            </div>
            <div class="col-12">
                <table class="table align-middle table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Empresa</th>
                            <td>{{ factura.id_orden_compra.rut_cliente }}</td>
                        </tr>
                        <tr>
                            <th>RUT</th>
                            <td>{{ factura.id_orden_compra.rut_cliente.rut_cliente }}</td>
                        </tr>
                        <tr>
                            <th>Número de factura</th>
                            <td>{{ factura.nro_factura }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de orden de compra</th>
                            <td>{{ factura.id_orden_compra.fecha_orden_compra|date:'d-m-Y' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <h2>Huéspedes</h2>

                <table class="table align-middle table-bordered table-hover .table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de habitación</th>
                            <th>Valor</th>
                            <!-- <th>Días</th> -->
                            <!-- <th>Total</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for huesped in huespedes %}
                        <tr>
                            <td>{{ huesped.nombre_huesped }}</td>
                            <td>{{ factura.id_orden_compra.get_tipos_habitacion_display }}</td>
                            <td>${{ precio_habitacion }}</td>
                            <!-- <td>3</td> -->
                            <!-- <td>$53.997</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" class="text-end">Total:</th>
                            <th>${{ factura.total }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--
            <div class="col-12">
                <h2>Servicios contratados</h2>

                <table class="table align-middle table-bordered table-hover .table-responsive">
                    <thead>
                        <tr>
                            <th>Servicio</th>
                            <th>Valor unitario</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Almuerzo general</td>
                            <td>$4.999</td>
                            <td>$44.901</td>
                        </tr>
                        <tr>
                            <td>Desayuno general</td>
                            <td>$2.499</td>
                            <td>$22.491</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            -->
        </div>
    </article>
{% endblock contenido %}

{% block manual %}
    <h2>Detalle de factura</h2>
    <p>Este módulo permite ver el detalle de cada factura.</p>
    <p>El detalle está dividido en dos partes, la primera que muestra información general y la segunda el detalle de los huéspedes a alojar.</p>
    <p>El botón <button class="btn btn-primary btn-sm">Volver</button> permite regresar a la lista de facturas.</p>
{% endblock manual %}