{% extends 'base.html' %}

{% load static %}

{% block titulo %}Orden de compra #{{orden.id_orden_compra}}{% endblock titulo %}

{% block pag_actual %}ordenes-compra{% endblock pag_actual %}

{% block contenido %}
    <article>
        <form method="post" class="row">
        {% csrf_token %}
            <div class="col-12 mb-4">
                <h2>Orden de compra #{{ orden.id_orden_compra }}</h2>
            </div>
            <div class="col-2 col-md-4 mb-4">
                <a href="{% url 'listar_ordenes_compra' %}" class="btn btn-primary">
                    <span class="bi-chevron-left"></span>
                    <span class="d-none d-md-inline"> Volver</span>
                </a>
            </div>
            <div class="col-10 col-md-8 mb-4 text-end">
                <div class="btn-group">
                    <button type="submit" {% if tiene_factura %}disabled{% endif %} class="btn btn-primary">Actualizar</button>
                    {% if tiene_factura %}
                    <a href="{% url 'detalle_factura' orden.factura.nro_factura %}" class="btn btn-primary">Ver factura</a>
                    {% else %}
                    <a href="{% url 'generar_factura' orden.id_orden_compra %}" class="btn btn-primary">Generar factura</a>
                    {% endif %}
                </div>
                <button onclick="toggleManualUsuario()" class="btn btn-primary">?</button>
            </div>
            <div class="col-12">
                <p class="lead">Fecha de creación: {{ orden.fecha_orden_compra|date:'d-m-Y' }}</p>
            </div>
            <div class="col-md-6">
                <h3>Detalles</h3>
                {% for form in form_oc %}
                <div class="form-group d-grid mb-4">
                    {{ form.label_tag }}
                    {{ form }}
                    {% if form.errors %}
                        {{ form.errors }}
                        {{ form.help_text }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h3>Huéspedes</h3>
                {{ form_huespedes.management_form }}
                {{ form_huespedes.non_field_errors }}
                {% for form in form_huespedes %}
                <div class="form-group d-grid mb-4">
                    {{ form.label_tag }}
                    {{ form }}
                    {% if form.errors %}
                        {{ form.errors }}
                        {{ form.help_text }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </form>
    </article>
{% endblock contenido %}

{% block manual %}
    <h2>Detalle orden de compra</h2>
    <p>Este modulo permite ver el detalle de una orden de compra, además de actualizarla y generar una factura a partir de ella.</p>
    <p>El formulario muestra todos los campos de la orden actual, que pueden ser actualizados.</p>
    <p>El botón <button class="btn btn-primary btn-sm">Actualizar</button> guarda cualquier cambio hecho en alguno de los campos disponibles. No se puede actualizar una orden de compra si ya se generó una factura a partir de ella.</p>
    <p>El botón <button class="btn btn-primary btn-sm">Generar factura</button> crea una factura a partir de los datos de la actual orden de compra. Tenga en cuenta que si modificó alguno de los campos de la orden de compra, debe presionar el botón <button class="btn btn-primary btn-sm">Actualizar</button> antes de generar la factura.</p>
    <p>El botón <button class="btn btn-primary btn-sm">Ver factura</button> aparecerá si ya hay una factura generada a partir de la orden actual, permitiendo ver el detalle de esa factura.</p>
    <p>El botón <button class="btn btn-primary btn-sm">Volver</button> permite retornar a la lista de órdenes de compra.</p>
{% endblock manual %}