{% extends 'base.html' %}

{% load static %}

{% block titulo %}Orden de compra #{{orden.id_orden_compra}}{% endblock titulo %}

{% block pag_actual %}ordenes-compra{% endblock pag_actual %}

{% block contenido %}
    <article>
        <form method="post" class="row">
        {% csrf_token %}
            <div class="col-12 mb-4">
                <h2>Orden de compra #{{ orden.id_orden_compra }}</h2>
            </div>
            <div class="col-2 col-sm-6 mb-4">
                <a href="{% url 'listar_ordenes_compra' %}" class="btn btn-primary">
                    <span class="bi-chevron-left"></span>
                    <span class="d-none d-sm-inline"> Volver</span>
                </a>
            </div>
            <div class="col-10 col-sm-6 mb-4 text-end">
                <a href="{% url 'eliminar_orden_compra' orden.id_orden_compra %}" class="btn btn-danger">Eliminar</a>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <button class="btn btn-primary">?</button>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Detalles</h3>
                <p>Fecha de creación: {{ orden.fecha_orden_compra|date:'d-m-Y' }}</p>
                <div class="form-group d-grid mb-4">
                    {{ form_orden }}
                </div>
            </div>
            <div class="col-md-6">
                <h3>Huéspedes</h3>
                {{ form_huespedes.management_form }}
                {% comment %} {% for huesped in form_huespedes %} {% endcomment %}
                <div class="form-group d-grid mb-4">
                    {% comment %} {{ huesped }} {% endcomment %}
                    {{ form_huespedes }}
                </div>
            </div>
            <div class="col-12 d-md-none d-grid mb-4">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </article>
{% endblock contenido %}