{% extends 'base.html' %}

{% load static %}

{% block titulo %}Lista de órdenes de compra{% endblock titulo %}

{% block pag_actual %}ordenes-compra{% endblock pag_actual %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-12 mb-4">
                <h2>Lista de órdenes</h2>
            </div>
            <div class="col-12 mb-4 text-end">
                <a href="{% url 'registro_orden_compra' %}" class="btn btn-primary">Generar nueva orden</a>
                <button class="btn btn-primary" onclick="toggleManualUsuario()">?</button>
            </div>
            <div class="col-12 text-center">
                {% if not lista_oc %}
                <span class="lead pt-5 pb-5">Actualmente, no hay órdenes de compra.</span>
                {% else %}
                <table class="table align-middle table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th class="d-none d-sm-table-cell">Fecha</th>
                            <th>Huéspedes</th>
                            <th>Tipo de habitaciones</th>
                            <th>&ensp;</th>
                        </tr>
                        {% for orden in lista_oc %}
                        <tr>
                            <td class="d-none d-sm-table-cell">{{ orden.fecha_orden_compra|date:'d-m-Y' }}</td>
                            <td>{{ orden.cantidad_huespedes }}</td>
                            <td>{{ orden.get_tipos_habitacion_display }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'editar_orden_compra' orden.id_orden_compra %}"
                                        class="btn btn-primary">
                                        <span class="d-md-none bi-eye-fill"></span>
                                        <span class="d-none d-md-inline">Detalle</span>
                                    </a>
                                    <a href="{% url 'eliminar_orden_compra' orden.id_orden_compra %}"
                                        onclick="return confirm('¿Confirma eliminación de esta orden? Esta acción no se puede deshacer')"
                                        class="btn btn-danger">
                                        <span class="d-md-none bi-trash-fill"></span>
                                        <span class="d-none d-md-inline">Eliminar</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock contenido %}

{% block manual %}
    <h2>Lista de órdenes de compra</h2>
    <p>Este módulo permite listar, eliminar y generar nuevas órdenes de compra.</p>
    <p>La tabla lista las órdenes de compra ya generadas, orenadas desde la más reciente a la más antigua.</p>
    <p>El botón <button class="btn btn-primary btn-sm">Generar nueva orden</button> abre el formulario para crear una nueva orden de compra.</p>
    <p>El botón <button class="btn btn-primary btn-sm">Detalle</button> muestra el detalle de la orden seleccionada.</p>
    <p>El botón <button class="btn btn-danger btn-sm">Eliminar</button> permite eliminar la orden seleccionada. Esta acción no puede deshacerse.</p>
{% endblock manual %}