{% extends 'base.html' %}

{% load static %}

{% block titulo %}Administrar facturas{% endblock titulo %}

{% block pag_actual %}facturas{% endblock pag_actual %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-12 mb-4">
                <h2>Facturas emitidas</h2>
            </div>
            <div class="col-12 mb-4 text-end">
                <button onclick="toggleManualUsuario()" class="btn btn-primary">?</button>
            </div>
            <div class="col-12 text-center">
            {% if not facturas %}
                <span class="lead pt-5 pb-5">Actualmente, no hay facturas emitidas.</span>
            {% else %}
                <table class="table align-middle table-hover table-bordered">
                    <thead>
                        <tr>
                            <th># de orden</th>
                            <th>Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for factura in facturas %}
                        <tr>
                            <td>{{ factura.id_orden_compra }}</td>
                            <td>&dollar;{{ factura.total }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'detalle_factura' factura.nro_factura %}" class="btn btn-primary">Detalle</a>
                                    <a href="{% url 'anular_factura' factura.nro_factura %}" class="btn btn-warning">Anular</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </article>
{% endblock contenido %}

{% block manual %}
    <h2>Lista de facturas</h2>
    <p>Este modulo permite ver todas las facturas emitidas, además de poder abrir el detalle de cada una y anularlas.</p>
    <p>La tabla muestra las facturas ordenadas desde la más reciente hasta la más antigua.</p>
    <p>EL botón <button class="btn btn-primary btn-sm">Detalle</button> permite ver la factura completa.</p>
    <p>El botón <button class="btn btn-warning btn-sm">Anular</button> permite anular la factura seleccionada. Esta acción no se puede deshacer.</p>
{% endblock manual %}