{% extends 'base.html' %}

{% load static %}

{% block titulo %}Administrar facturas{% endblock titulo %}

{% block pag_actual %}facturas{% endblock pag_actual %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-12 mb-4">
                <h2>Facturas emitidas</h2>
            </div>
            <div class="col-12 mb-4 text-end">
                <button class="btn btn-primary">?</button>
            </div>
            <div class="col-12">
                <table class="table align-middle table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>20/03/2021</td>
                            <td>
                                <button class="btn btn-primary">Ver</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>03/04/2021</td>
                            <td>
                                <button class="btn btn-primary">Ver</button>
                            </td>
                            <tr>
                                <td>1</td>
                                <td>20/03/2021</td>
                                <td>
                                    <button class="btn btn-warning">Generar</button>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
{% endblock contenido %}