{% extends 'base.html' %}

{% load static %}

{% block titulo %}Lista de órdenes de compra{% endblock titulo %}

{% block pag_actual %}ordenes-compra{% endblock pag_actual %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-12 mb-4">
                <h2>Lista de órdenes</h2>
            </div>
            <div class="col-6 mb-4">
                <a href="{% url 'registro_orden_compra' %}" class="btn btn-primary">Generar nueva orden</a>
            </div>
            <div class="col-6 mb-4 text-end">
                <button class="btn btn-primary">?</button>
            </div>
            <div class="col-12 text-center">
                {% if not lista_oc %}
                <span class="lead pt-5 pb-5">Actualmente, no hay órdenes de compra.</span>
                {% else %}
                <table class="table align-middle table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Fecha</th>
                            <th>Huéspedes</th>
                            <th>Tipo de habitaciones</th>
                            <th>&ensp;</th>
                        </tr>
                        {% for orden in lista_oc %}
                        <tr>
                            <td>{{ orden.fecha_orden_compra|date:'d-m-Y' }}</td>
                            <td>{{ orden.cantidad_huespedes }}</td>
                            <td>{{ orden.tipos_habitacion }}</td>
                            <td>
                                <a href="{% url 'editar_orden_compra' orden.id_orden_compra %}"
                                    class="btn btn-secondary">Detalles</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock contenido %}