<!-- barra de navegación para el usuario Cliente -->

<nav class="col-12">
<ul id="menu-navegacion" class="nav nav-tabs">
    <li class="nav-item">
    <a
        href="#"
        class="nav-link {% block nav_inicio %}{% endblock nav_inicio %}"
        >Inicio</a
    >
    </li>
    <li class="nav-item">
    <a
        href="#"
        class="nav-link {% block nav_admin_facturas %}{% endblock nav_admin_facturas %}"
        >Órdenes de compra</a
    >
    </li>
    <li class="nav-item">
    <a
        href="#"
        class="nav-link {% block nav_detalle_factura %}{% endblock nav_detalle_factura %}"
        >Facturas</a
    >
    </li>
</ul>
</nav>
