{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Registro de nuevo cliente
{% endblock titulo %}

{% block contenido %}
    <article>
    <form method="post">
        <div class="row encabezado">
            <div class="col-4 col-md-2 order-md-first">
                <a href="{% url 'index' %}" class="btn btn-secondary"><span class="bi-arrow-left"></span></a>
            </div>
            <div class="col-12 col-sm-4 order-md-last text-end">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button class="btn btn-secondary">?</button>
                </div>
            </div>
            <div class="col-12 col-sm-8 text-center">
                <h2>Registro de cliente</h2>
            </div>
        </div>
        <div class="row">
            <section class="form gap-2 col-sm-10 mx-auto">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group d-grid mb-4">
                            {{ datos_usuario }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group d-grid mb-4">
                            {{ datos_cliente }}
                        </div>
                    </div>
                </div>
                <div class="col d-md-none">
                    <div class="form-group d-grid mb-4">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </div>
            </section>
        </div>
    </form>
    </article>

{% endblock contenido %}