{% extends 'base.html' %}

{% load static %}

{% block titulo %}Registro habitacion{% endblock titulo %}

{% block pag_actual %}registro-habitacion{% endblock pag_actual %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Registro habitacion</title>
</head>

<body>


    <form method="post">
    {% csrf_token %}
    {{ form_habitacion.as_p}}
    <button type="submit">Guardar</button>
    </form>
    
</body>

</html>


{% endblock contenido %}