{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Consulta de pedidos para {{proveedor}}
{% endblock titulo %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-12 mb-4">
                <h2>Pedidos para {{proveedor}}</h2>
            </div>
            <div class="col-6 mb-4">
                <a href="{% url 'index' %}" class="btn btn-primary"><span class="bi-chevron-left"></span> Volver</a>
            </div>
            <div class="col-6 mb-4 text-end">
                <button onclick="toggleManualUsuario()" class="btn btn-primary">?</button>
            </div>
            <div class="col text-center">
            {% if not lista %}
                <span class="lead">Hasta el momento hay pedidos enviados.</span>
            {% else %}
                <table class="table align-middle table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Orden de Pedido</th>
                            <th>Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orden in lista %}
                        <tr>
                            <td>{{orden.id_orden_pedido}}</td>
                            <td>{{orden.suma_precio}}</td>
                            <td><a href="#" class="btn btn-primary">Detalles</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </article>
{% endblock contenido %}

{% block manual %}
    <h2>Consulta órdenes de pedido</h2>
    <p>En este módulo, los proveedores registrados pueden revisar todas las órdenes de pedido solicitadas a ellos.</p>
    <p>La tabla muestra la lista de las órdenes, detallandose el número de Orden de Pedido y el saldo total de la orden.</p>
    <p>Presionando el botón <button class="btn btn-primary btn-sm">Detalles</button> permite abrir el detalle de la orden correspondiente.</p>
    <p>Presionando el botón <button class="btn btn-primary btn-sm">Volver</button> permite retornar al módulo de inicio de sesión y consulta.</p>
{% endblock manual %}
