{% extends 'base.html' %}

{% load static %}

{% block titulo %} Acceso a usuarios {% endblock titulo %}

{% block contenido %}
    <script src="{% static 'js/validador_rut.js' %}"></script>
    <article class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Acceso a usuarios
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form class="form gap-2 col-sm-10 mx-auto" role="form" method="post" action="{% url 'login' %}"
                            accept-charset="UTF-8">
                            {% csrf_token %}
                            <h3 class="lead text-center mb-4">Si usted es un Cliente y aún no tiene cuenta, <a href="{% url 'registro_cliente' %}">regístrese</a> para contratar nuestros servicios.</h3>
                            <div class="form-group d-grid mb-4">
                            {{ bloque_formulario_login }}
                            </div>
                            <div class="form-group d-grid mb-4">
                                <button name="iniciar_sesion" type="submit" class="btn btn-primary btn-block">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Acceso a Proveedores
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form method="POST" action="{% url 'consulta_proveedores' %}" class="form gap-2 col-sm-10 mx-auto">
                            {% csrf_token %}
                            <h3 class="lead text-center mb-4">Si ustéd es un Proveedor, ingrese su RUT para revisar las Ordenes de Pedido asociadas a usted.</h3>
                            <div class="form-group d-grid mb-4">
                                <label for="rut_proveedor">RUT:</label>
                                <input name="rut_proveedor" class="form-control" type="text" oninput="checkRut(this)" placeholder="Ej.: 12345678-K">
                            </div>
                            <div class="form-group d-grid mb-4">
                                <button name="consulta_proveedor" value="consulta_proveedor" type="submit" class="btn btn-primary btn-block">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div id="prov-no-registrado" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Proveedor no registrado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>El RUT que ha ingresado, no se encuentra registrado en nuestra lista de proveedores.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
    </article>
    <script>
        var msgProvNoRegistrado = new bootstrap.Modal(document.getElementById('prov-no-registrado'));
        {% if prov_no_registrado %}
        msgProvNoRegistrado.toggle();
        {% endif %}
    </script>
{% endblock contenido %}