{% extends 'base.html' %} 
{% load static %} 
{% block titulo %}Listar Empleados{%endblock titulo %}
{% block pag_actual %}listar-empleados{% endblock pag_actual%}
{% block contenido %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h2>Lista Empleados</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID Empleado</th>
          <th>Nombre</th>
          <th>RUT</th>
          <th>Cargo</th>
          <th>Telefono</th>
          <th>Direccion</th>
        </tr>
      </thead>
    
      <tbody>
        {% for o in lista_empleado %}
        <tr>
          <td>{{ o.id_empleado }}</td>
          <td>{{ o.nombre_empleado }}</td>
          <td>{{ o.rut_empleado }}</td>
          <td>{{ o.cargo_empleado }}</td>
          <td>{{ o.telefono }}</td>
          <td>{{ o.direccion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>

{% endblock contenido %}
