{% extends 'base.html' %}

{% load static %}

{% block titulo %} Panel de {{user.id_rol}} {% endblock titulo %}

{% block pag_actual %}panel-inicio{% endblock pag_actual %}

{% block contenido %}
    <article>
        <h1>Bienvenido al panel de {{user.id_rol}}<h1>
    {% if user.es_administrador %}
        <!-- contenido del administrador -->
    {% elif user.es_empleado %}
        <!-- contenido del empleado -->
    {% elif user.es_cliente %}
        <!-- contenido del cliente -->
    {% endif %}
    </article>
{% endblock contenido %}