{% extends 'base.html' %}

{% load static %}

{% block titulo %} Panel de {{user.id_rol}} {% endblock titulo %}

{% block pag_actual %}panel-inicio{% endblock pag_actual %}

{% block contenido %}
    <article>
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Bienvenido al panel de {{user.id_rol}}<h1>
            </div>
            <div class="col-12 mb-4 text-end">
                <button class="btn btn-primary" onclick="toggleManualUsuario()">?</button>
            </div>
            <div class="col-12">
                {% if user.es_administrador %}
                    <!-- contenido del administrador -->
                {% elif user.es_empleado %}
                    <!-- contenido del empleado -->
                {% elif user.es_cliente %}
                    <!-- contenido del cliente -->
                {% endif %}
            </div>
        </div>
    </article>
{% endblock contenido %}

{% block manual %}
    <h2>Panel de usuario</h2>
    <p>Este es el módulo de inicio para todos los usuarios del sistema, desde el se puede acceder a todas las funcionalidades correspondientes a cada perfil.</p>
    <p>En la cabecera de la página, a la izquierda se especifica el perfil del usuario actualmente autenticado. A la derecha, el enlace <b>Mi cuenta</b> permite ver y modificar los detalles de la cuenta de usuario, y el enlace <b>Salir</b> permite cerrar la sesión actualmente iniciada.</p>
    <p>Inmediatamente abajo, se muestra un menú de navegación que permite cambiar entre los distintos módulos.</p>
{% endblock manual %}
