/* Variables  */
/* https://www.w3schools.com/css/css3_variables.asp */
:root {
    --primario: #3D348B;
    --secundario: #FFB612;
    --gris: #E1E2E3;
    --negro: #282828;
}

body {
    color: var(--negro);
    background-color: var(--gris);
}

.container {
    background-color: white;
}

header,
#menu-funciones,
article {
    margin-bottom: 24px;
}

#logo {
    background-color: var(--primario);
    height: 48px;
}

#logo a {
    text-decoration: none;
}

#logo-i {
    color: var(--secundario);
    font-size: 18px;
    margin-right: 8px;
}

#logo-t {
    color: var(--gris);
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 4px;
}

#menu-usuario {
    color: var(--gris);
    background-color: var(--negro);
    min-height: 72px;
}

#menu-usuario button {
    color: var(--gris);
}

#menu-usuario a,
#menu-usuario a:visited {
    color: var(--gris);
}

#menu-usuario a:active,
#menu-usuario a:hover {
    color: var(--secundario);
}

footer {
    color: var(--gris);
    background-color: var(--negro);
    height: 48px;
}

 /* ESTILOS RESPONSIVOS **********************************/

@media screen and (min-width: 576px) {
    .container {
        border-radius: 16px;
        box-shadow: 0 0 8px gray;
    }

    #logo {
        border-radius: 8px 8px 0 0px;
    }

    footer{
        border-radius: 0 0 8px 8px;
    }
}