<!DOCTYPE html>

{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostal Clarita: {% block titulo %}{% endblock titulo %}</title>
    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Estilos propios -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header class="mt-sm-4">
            <div id="logo" class="row">
                <div class="col-12 d-flex align-items-center">
                    <a href="/">
                        <span id="logo-i" class="bi bi-house-fill"></span><span id="logo-t">Hostal Doña Clarita</span>
                    </a>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="row">
                <nav id="menu-usuario" class="navbar navbar-expand-md">
                    <span class="navbar-brand">Panel de {{user.id_rol}}</span>
                    <button onclick="toggleMenuUsuario()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bi-list"></span>
                    </button>
    
                    <div class="collapse navbar-collapse justify-content-end" id="menu-usuario-ul">
                        <ul class="navbar-nav mr-auto">
                            {% if user.es_administrador %}
                            <li class="nav-item">
                                <span class="d-none d-md-block p-2">{{user.username}}</span>
                            </li>
                            {% elif user.es_empleado %}
                            <li class="nav-item">
                                <span class="d-none d-md-block p-2">{{user.empleado.nombre_empleado}}</span>
                            </li>
                            {% elif user.es_cliente %}
                            <li class="nav-item">
                                <span class="d-none d-md-block p-2">{{user.cliente.nombre_empresa}}</span>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="#" class="nav-link">Mi cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'logout' %}" class="nav-link">Salir</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            {% endif %}
        </header>
        {% if user.is_authenticated %}
        <div class="row">
            <nav id="menu-funciones" class="col-12">
                <ul id="menu-navegacion" class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="{% url 'panel' %}" id="panel-inicio" class="nav-link">Inicio</a>
                    </li>
                    {% if user.es_administrador %}
                    <li class="nav-item">
                        <a href="#" id="" class="nav-link">...</a>
                    </li>
                    {% elif user.es_empleado %}
                    <li class="nav-item">
                        <a href="#" id="recepcion-huespedes" class="nav-link">Recepción de huéspedes</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'listar_ordenes' %}" id="listar-ordenes" class="nav-link">Ver órdenes de pedido</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="servicios-comedor" class="nav-link">Servicios de comedor</a>
                    </li>  
                    {% elif user.es_cliente %}
                    <li class="nav-item">
                        <a href="{% url 'listar_ordenes_compra' %}" id="ordenes-compra" class="nav-link">Órdenes de compra</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'listar_facturas' %}" id="facturas" class="nav-link">Facturas</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

        {% block contenido %} {% endblock contenido %}
        
        <footer class="row mb-sm-4">
            <div class="col d-flex align-items-center justify-content-center">
                <span>&copy; Hostal Doña clarita.</span>
            </div>
        </footer>
    </div>
    <script>
        var pag_actual = "{% block pag_actual %}{% endblock pag_actual %}"
    </script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>